.editBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-color: aqua;
}

.scale {
  display: flex;
  align-items: center;
}

.scale select {
  height: fit-content;
  margin-left: 5px;
}
